<a href="https://colab.research.google.com/github/ayushsunil/ML/blob/main/datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
dc=pd.read_csv("https://raw.githubusercontent.com/Jcharis/Data-Cleaning-Practical-Examples/master/unclean_data1.csv")
print(dc)

                                     movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
8                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

    duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0      178.0                      10                     855
1        NaN                     563                    1000
2      148.0                      20                     161
3        NaN                   22000                   23000
4      132.0                   "475"                     530
5      156.0                      23                    4000
6        NaN                      15                     284
7      141.0                      10                   19000
8      141.0                      10                   19000
9      153.0                     282                   10000
10     183.0                     NaN                    2000
11     169.0                     NaN                     903
12     106.0                     395                     393
13     151.0                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847         886204.0
1                    40000  309404152         471220.0
2                    11000  200074175         275868.0
3                    27000  448130642        1144337.0
4                      640   73058679         212204.0
5                    24000  336530303         383056.0
6                      799  200807262         294810.0
7                    26000  458991599         462669.0
8                    26000  458991599         462669.0
9                    25000  301956980         321795.0
10                   15000  330249062              NaN
11                   18000  200069408         240396.0
12                     451  168368427         330784.0
13                   40000  423032628         522040.0

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                      4834.0                   NaN                  3054
1                     48350.0                   NaN                  1238
2                     11700.0                   1.0                   994
3                    106759.0                   NaN                  2701
4                      1873.0                   1.0                   738
5                     46055.0                   NaN                  1902
6                         NaN                   1.0                   387
7                     92000.0                   4.0                  1117
8                     92000.0                   4.0                  1117
9                     58753.0                   3.0                   973
10                    24450.0                   NaN                  3018
11                        NaN                   2.0                  2367
12                     2023.0                   1.0                  1243
13                    48486.0                   2.0                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score  title_year.1
0   237000000        2009                   936.0         7.9        2009.0
1   300000000        2007                  5000.0         7.1           NaN
2   245000000        2015                   393.0         6.8        2015.0
3   250000000        2012                 23000.0         8.5           NaN
4   263700000        2012                   632.0         6.6           NaN
5   258000000        2007                 11000.0         6.2        2007.0
6   260000000        2010                   553.0         7.8           NaN
7   250000000        2015                 21000.0         7.5           NaN
8   250000000        2015                 21000.0         7.5        2015.0
9   250000000        2009                 11000.0         7.5           NaN
10  250000000        2016                     NaN         6.9        2016.0
11  209000000        2006                 10000.0         6.1           NaN
12  200000000        2008                   412.0         6.7        2008.0
13  225000000        2006                  5000.0         7.3        2008.0

In [3]:
dc.head(14)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [4]:
dc.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      2
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

In [13]:
nmc=dc.select_dtypes(include='number').columns
dc[nmc]=dc[nmc].fillna(dc[nmc].mean())
nonmc=dc.select_dtypes(exclude='number').columns
dc[nonmc]=dc[nonmc].fillna(dc[nonmc].mode().iloc[0])

In [14]:
dc.drop_duplicates(inplace=True)

In [17]:
dc.to_csv("clean_data.csv",index=False)
print(dc)
dc.head(14)

                                     movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
8                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

      duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0   178.000000                      10                     855
1   150.727273                     563                    1000
2   148.000000                      20                     161
3   150.727273                   22000                   23000
4   132.000000                   "475"                     530
5   156.000000                      23                    4000
6   150.727273                      15                     284
7   141.000000                      10                   19000
8   141.000000                      10                   19000
9   153.000000                     282                   10000
10  183.000000                      10                    2000
11  169.000000                      10                     903
12  106.000000                     395                     393
13  151.000000                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847     8.862040e+05
1                    40000  309404152     4.712200e+05
2                    11000  200074175     2.758680e+05
3                    27000  448130642     1.144337e+06
4                      640   73058679     2.122040e+05
5                    24000  336530303     3.830560e+05
6                      799  200807262     2.948100e+05
7                    26000  458991599     4.626690e+05
8                    26000  458991599     4.626690e+05
9                    25000  301956980     3.217950e+05
10                   15000  330249062     4.621578e+05
11                   18000  200069408     2.403960e+05
12                     451  168368427     3.307840e+05
13                   40000  423032628     5.220400e+05

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                 4834.000000              2.111111                  3054
1                48350.000000              2.111111                  1238
2                11700.000000              1.000000                   994
3               106759.000000              2.111111                  2701
4                 1873.000000              1.000000                   738
5                46055.000000              2.111111                  1902
6                44773.583333              1.000000                   387
7                92000.000000              4.000000                  1117
8                92000.000000              4.000000                  1117
9                58753.000000              3.000000                   973
10               24450.000000              2.111111                  3018
11               44773.583333              2.000000                  2367
12                2023.000000              1.000000                  1243
13               48486.000000              2.000000                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score  title_year.1
0   237000000        2009              936.000000         7.9   2009.000000
1   300000000        2007             5000.000000         7.1   2011.142857
2   245000000        2015              393.000000         6.8   2015.000000
3   250000000        2012            23000.000000         8.5   2011.142857
4   263700000        2012              632.000000         6.6   2011.142857
5   258000000        2007            11000.000000         6.2   2007.000000
6   260000000        2010              553.000000         7.8   2011.142857
7   250000000        2015            21000.000000         7.5   2011.142857
8   250000000        2015            21000.000000         7.5   2015.000000
9   250000000        2009            11000.000000         7.5   2011.142857
10  250000000        2016             8455.846154         6.9   2016.000000
11  209000000        2006            10000.000000         6.1   2011.142857
12  200000000        2008              412.000000         6.7   2008.000000
13  225000000        2006             5000.000000         7.3   2008.000000

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.000000,10,855,1000,760505847,8.862040e+05,4834.000000,2.111111,3054,237000000,2009,936.000000,7.9,2009.000000
1,Pirates of the Caribbean: At World's End?ÿ,302,150.727273,563,1000,40000,309404152,4.712200e+05,48350.000000,2.111111,1238,300000000,2007,5000.000000,7.1,2011.142857
2,Spectre?ÿ,602,148.000000,20,161,11000,200074175,2.758680e+05,11700.000000,1.000000,994,245000000,2015,393.000000,6.8,2015.000000
3,The Dark Knight Rises?ÿ,813,150.727273,22000,23000,27000,448130642,1.144337e+06,106759.000000,2.111111,2701,250000000,2012,23000.000000,8.5,2011.142857
4,John Carter?ÿ,462,132.000000,"""475""",530,640,73058679,2.122040e+05,1873.000000,1.000000,738,263700000,2012,632.000000,6.6,2011.142857
5,Spider-Man 3?ÿ,392,156.000000,23,4000,24000,336530303,3.830560e+05,46055.000000,2.111111,1902,258000000,2007,11000.000000,6.2,2007.000000
6,Tangled?ÿ,324,150.727273,15,284,799,200807262,2.948100e+05,44773.583333,1.000000,387,260000000,2010,553.000000,7.8,2011.142857
7,Avengers: Age of Ultron?ÿ,635,141.000000,10,19000,26000,458991599,4.626690e+05,92000.000000,4.000000,1117,250000000,2015,21000.000000,7.5,2011.142857
8,Avengers: Age of Ultron?ÿ,635,141.000000,10,19000,26000,458991599,4.626690e+05,92000.000000,4.000000,1117,250000000,2015,21000.000000,7.5,2015.000000
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.000000,282,10000,25000,301956980,3.217950e+05,58753.000000,3.000000,973,250000000,2009,11000.000000,7.5,2011.142857
10,Batman v Superman: Dawn of Justice?ÿ,673,183.000000,10,2000,15000,330249062,4.621578e+05,24450.000000,2.111111,3018,250000000,2016,8455.846154,6.9,2016.000000
11,Superman Returns?ÿ,434,169.000000,10,903,18000,200069408,2.403960e+05,44773.583333,2.000000,2367,209000000,2006,10000.000000,6.1,2011.142857
12,Quantum of Solace?ÿ,403,106.000000,395,393,451,168368427,3.307840e+05,2023.000000,1.000000,1243,200000000,2008,412.000000,6.7,2008.000000
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.000000,563,1000,40000,423032628,5.220400e+05,48486.000000,2.000000,1832,225000000,2006,5000.000000,7.3,2008.000000

In [19]:
dc.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     0
DIRECTOR_facebook_likes      0
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              0
Cast_Total_facebook_likes    0
facenumber_in_poster         0
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       0
imdb_score                   0
title_year.1                 0
dtype: int64

In [21]:
print(dc)

                                     movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
8                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

      duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0   178.000000                      10                     855
1   150.727273                     563                    1000
2   148.000000                      20                     161
3   150.727273                   22000                   23000
4   132.000000                   "475"                     530
5   156.000000                      23                    4000
6   150.727273                      15                     284
7   141.000000                      10                   19000
8   141.000000                      10                   19000
9   153.000000                     282                   10000
10  183.000000                      10                    2000
11  169.000000                      10                     903
12  106.000000                     395                     393
13  151.000000                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847     8.862040e+05
1                    40000  309404152     4.712200e+05
2                    11000  200074175     2.758680e+05
3                    27000  448130642     1.144337e+06
4                      640   73058679     2.122040e+05
5                    24000  336530303     3.830560e+05
6                      799  200807262     2.948100e+05
7                    26000  458991599     4.626690e+05
8                    26000  458991599     4.626690e+05
9                    25000  301956980     3.217950e+05
10                   15000  330249062     4.621578e+05
11                   18000  200069408     2.403960e+05
12                     451  168368427     3.307840e+05
13                   40000  423032628     5.220400e+05

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                 4834.000000              2.111111                  3054
1                48350.000000              2.111111                  1238
2                11700.000000              1.000000                   994
3               106759.000000              2.111111                  2701
4                 1873.000000              1.000000                   738
5                46055.000000              2.111111                  1902
6                44773.583333              1.000000                   387
7                92000.000000              4.000000                  1117
8                92000.000000              4.000000                  1117
9                58753.000000              3.000000                   973
10               24450.000000              2.111111                  3018
11               44773.583333              2.000000                  2367
12                2023.000000              1.000000                  1243
13               48486.000000              2.000000                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score  title_year.1
0   237000000        2009              936.000000         7.9   2009.000000
1   300000000        2007             5000.000000         7.1   2011.142857
2   245000000        2015              393.000000         6.8   2015.000000
3   250000000        2012            23000.000000         8.5   2011.142857
4   263700000        2012              632.000000         6.6   2011.142857
5   258000000        2007            11000.000000         6.2   2007.000000
6   260000000        2010              553.000000         7.8   2011.142857
7   250000000        2015            21000.000000         7.5   2011.142857
8   250000000        2015            21000.000000         7.5   2015.000000
9   250000000        2009            11000.000000         7.5   2011.142857
10  250000000        2016             8455.846154         6.9   2016.000000
11  209000000        2006            10000.000000         6.1   2011.142857
12  200000000        2008              412.000000         6.7   2008.000000
13  225000000        2006             5000.000000         7.3   2008.000000